# BBC micro:bit DAPLink interface (V1 and V2).
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", \
  GROUP="dialout", MODE="0660", SYMLINK+="microbit/$attr{serial}"
